html {
    font-family: 'Poppins', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#soft-green-card {
    background: linear-gradient(#5c7e55, #27a82c);
}

#soft-pink-card {
    background: linear-gradient(#eb9898, #eb4291);
}

#soft-blue-card {
    background: linear-gradient(#eb9898, #9198e5);
}

.main-header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    background-color: white;
    width: 30%;
    height: 70vh;
    flex-direction: column;
}

.card p {
    height: 40px;
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 254, 254);
}

.card img {
    /* position: absolute;
    top: 35px;
    left: 40%; */
    width: 100px;
    height: 100px;
}

.card-subheaders {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
}

.subheaders {
    margin-top: 30px;
}

.subheaders:hover {
    color: rgb(215, 214, 214);
    cursor: pointer;
}

.subheaders::before {
    content: "📁";
}


#myVideo {
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}